<header>
  <h1><a href="/">Members Only</a></h1>
  <% if (locals.user) { %>
    <a href="/log-out" class="btn-link">Log out</a>
  <% } else { %>
    <div>
      <a href="/log-in" class="btn-link">Log In</a>
    </div>
  <% } %>
</header>