<div class="post">
  <p>
    <% if (locals.user) { %>
      <b><%= post.username %></b><span><%= post.timestamp %></span>
    <% } else { %>
      <b>Anonymous</b>
    <% } %>
  </p>
  <p><b><%= post.title %></b></p>
  <p><%= post.text %></p>
</div>