<div class="post">
  <p>
    <b>
      <% if (locals.user) { %>
        @<%= post.username %>
      <% } else { %>
        Anonymous
      <% } %>
    </b>
    <span><%= post.timestamp %></span>
  </p>
  <p><b><%= post.title %></b></p>
  <p><%= post.text %></p>
</div>