<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Members Only</title>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/createPostForm', {user: user}) %>
  
  <% posts.forEach(post => { %>
    <%- include('./partials/postDetails', {user: user, post: post}) %>
  <% }); %>

  <%- include('partials/nav.ejs'); %>
</body>
</html>