<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
</head>
<body>
  <h1>Connect to the club.</h1>
  <%- include('../partials/logInForm.ejs'); %>
</body>
</html>