:root {
  --app-width: 640px;
  --app-border: 1px solid #ddd;
  --app-border-radius: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: var(--app-width);
  margin: auto;
  background-color: #f8f8f8;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  padding: 8px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

button, 
.btn-link {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 4px 20px;
}

button:hover, 
.btn-link:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-color: black;
}

.btn-link {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

main {
  flex: 1;
  background-color: white;
  padding: 8px 24px;
  border: var(--app-border);
  border-radius: var(--app-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main::after {
  content: '';
  display: inline-block;
  margin: 32px;
}

nav {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: var(--app-width);
  border: var(--app-border);
  background: white;
  display: flex;
  gap: 24px;
}

nav svg {
  width: 2rem;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 16px;
  border-radius: var(--app-border-radius);
}

nav a:hover {
  background-color: #ddd;
}

.auth-form .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth-form button {
  padding: 8px;
  background-color: black;
  color: white;
  border-color: black;
}

.auth-form button:hover {
  background-color: white;
  color: black;
  border-color: #aaa;
}

.auth-form .form-error-messages {
  color: red;
  list-style-type: square;
}

.back-link {
  display: block;
  margin: 24px 0;
}

.end-of-posts {
  text-align: center;
  color: #aaa;
}

.user-details {
  border-bottom: var(--app-border);
}

.user-details .membership-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts {
  margin-bottom: auto;
}

.post {
  display: flex;
  align-items: center;
  border-bottom: var(--app-border);
  padding: 16px 0;
  margin-bottom: auto;
}

.post:last-child {
  border-bottom: none;
}

.post .container {
  flex: 1;
}

.post .post-title {
  font-size: 1.1rem;
}

.post .post-data .post-time {
  margin-left: 24px;
  color: #8a8a8a;
}

.form-create-post {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-create-post input {
  font-size: 1rem;
}

.form-create-post textarea {
  min-height: 200px;
}

.form-create-post .buttons {
  align-self: flex-end;
}

.form-create-post .buttons button {
  padding: 8px 32px;
  font-weight: bold;
}